@using EFSkills_CodeFirstMVC.Models.Classes
@using WebGrease
@model List<Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}
<table class="table table-responsive">
    <tr>
        <th>ID</th>
        <th>Skill</th>
        <th>Value</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Desc</td>
            <td>@item.Value</td>
            <td><a href="/Admin/DeleteSkill/@item.Id" class="btn btn-danger">sil</a></td>
            <td><a href="/Admin/UpdateSkill/@item.Id" class="btn btn-success">güncelle</a></td>
        </tr>
    }

</table>